node_modules/
.node_modules/
built/*
*.config
Client/js/**/*.js
Client/js/**/*.js.map
**/.DS_Store
.settings
**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
.idea
yarn.lock
yarn-error.log
package-lock.json
.eslintcache
*v8.log
/lib/
Client/Client.code-workspace
Horizon-Database.code-workspace
Client/js/controllers/*.js
Client/js/model/*.js.map
Client/js/views/*.js.map
